<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chd.dao.UserMapper">
   <select id="getUserList" resultType="com.chd.pojo.User">
       select * from user
   </select>
    
    

    <select id="getUserLike" resultType="com.chd.pojo.User">
        select * from user where name like #{李};
    </select>
</mapper>